html, body{
  margin-left: 20px;
  margin-right: 200px;
  margin-top: 20px;
  
  padding: 10px 150px 10px 150px;
  
  font-family: 'Lato', sans-serif;
}

header{
  padding: 5px;
}

h4{
  display: inline;
}

.page-title{
  display: inline;
}
   
p {
  
}


